.container {
    padding: 20px;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

mat-card {
    margin-bottom: 5px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}